{% if app.user %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('VisioStyle/css/MeetingPageStyle.css') }}">
    <link rel="stylesheet" href="{{ asset('VisioStyle/css/style.css') }}">

</head>

<body>
<div class="container" style="margin: 0px;">

    <div class="wrapper">
        <div class="discussion">
            <div class="discussion__grid">
                <div id="videos" class="videos">
                    <div id="localVideoContainer" class="videoContainer">
                        <video id="localVideo" autoplay muted></video>
                    </div>

                    <!-- Remote videos get appended here -->

                </div>
            </div>
            <div class="discussion__chat">
                <div class="discussion__chat-header">
                    <p>Group chat</p><img src="{{ asset('VisioStyle/assets/icons/close.svg') }}" alt=""></div>
                <div class="discussion__chat-notify "><img src="{{ asset('VisioStyle/assets/icons/info.svg') }}" alt="">
                    <p> When the video call ends, <br>the messages will be deleted! </p><img src="{{ asset('VisioStyle/assets/icons/close.svg') }}" alt="" class="notify-close"></div>
                <div class="discussion__chat-messages"></div>
                <div class="discussion__chat-input">
                    <div class="form__control"><input type="text" placeholder="Type a message..." class="input input--small rounded"><button><img src="{{ asset('VisioStyle/assets/icons/send.svg') }}" alt=""></button></div>
                </div>
            </div>
            <div class="discussion__chat-actions">
                <div class="discussion__chat-time"><span></span>
                    <p>00 : 00</p>
                </div>
                <div class="discussion__chat-btns">
                    <div class="button__group-btn"><button class="btn btn--default"><img src="{{ asset('VisioStyle/assets/icons/expand.svg') }}" alt="">  </button></div>
                    <div class="button__group-btn"><button class="btn btn--default"><img src="{{ asset('VisioStyle/assets/icons/microphone.svg') }}" alt="">  </button></div>
                    <div class="button__group-btn"><button class="btn btn--default end"><img src="{{ asset('VisioStyle/assets/icons/endcall.svg') }}" alt="">  </button></div>
                    <div class="button__group-btn"><button class="btn btn--default"><img src="{{ asset('VisioStyle/assets/icons/video.svg') }}" alt="">  </button></div>
                    <div class="button__group-btn"><button class="btn btn--default"><img src="{{ asset('VisioStyle/assets/icons/sound.svg') }}" alt="">  </button></div>
                </div>
                <div class="discussion__chat-show"><img src="{{ asset('VisioStyle/assets/icons/chat-btn.svg') }}" alt=""></div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('VisioStyle/js/main.js') }}"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
<script src="{{ asset('VisioStyle/video.js') }}"></script>
<script >
    let localDisplayName = '{{app.user}}'
    localStorage.setItem('user', localDisplayName)
</script>
</body>
</html>
{% else %}
    {% include '/bundles/TwigBundle/Exception/error404.html.twig' %}
{#  {{  'app/templates/bundles/TwigBundle/Exception/error404.html.twig'|file_relative}}#}
{% endif %}

